@charset "UTF-8";

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.header_block,
.header_header,
.header_nav ul,
.main_futures,
.main_numbers,
.materials_row,
.specialist_content,
.about_content,
.footer_content,
.footer_block_last,
.contacts_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  position: relative;
}

html.lock {
  overflow: hidden;
}

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-size: calc( 48px + 48 * ((100vw - 320px) / 2240));
  font-weight: 700;
}

h2 {
  font-size: calc( 36px + 32 * ((100vw - 320px) / 2240));
  font-weight: 700;
}

h3 {
  font-size: calc( 28px + 8 * ((100vw - 320px) / 2240));
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
  position: relative;
}

.arrow_top_button {
  width: 70px;
  position: fixed;
  display: none;
  bottom: 50px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
}

.arrow_top_img_mob {
  display: none;
}

.header_burger {
  display: none;
  position: fixed;
  right: 0;
  top: 173px;
  width: 54px;
  height: 43px;
  background: #131313;
  padding: 13px 15px;
  cursor: pointer;
  z-index: 21;
}

.header_burger::before,
.header_burger::after {
  content: "";
  position: absolute;
  height: 3px;
  background: #51abd3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_burger::before {
  width: 24px;
  top: 13px;
  height: 3.5px;
}

.header_burger::after {
  width: 10px;
  bottom: 12px;
  right: 15px;
}

.header_burger span {
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 3px;
  width: 18px;
  top: 20.5px;
  right: 15px;
  background: #51abd3;
}

.header_nav ul:last-child {
  display: none;
}

.form_body {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}

.form_content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #212121;
  border-radius: 5px;
  padding: 42px 50px;
  width: 100%;
  max-width: 1058px;
}

.form label {
  font-size: calc( 24px + 4 * ((100vw - 320px) / 2240));
}

.form_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 30px 0;
}

.form_inputs input {
  width: 100%;
  color: white;
  max-width: 458px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding: 15px 20px;
  background: #404040;
  opacity: 0.7;
  border: 1px solid #d39951;
  border-radius: 1px;
}

.form_inputs input:last-child {
  margin-bottom: 0;
}

.form_textearea {
  margin-left: 50px;
  width: 100%;
  max-width: 450px;
}

.form_textearea textarea {
  width: 100%;
  background: #404040;
  border: 1px solid #d39951;
  border-radius: 1px;
  padding: 15px 20px;
  height: 100%;
  color: white;
  resize: none;
}

.form_close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 56px;
  right: 53px;
  cursor: pointer;
}

.form_close::before,
.form_close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: #51abd3;
}

.form_close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form_close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_consent {
  max-width: 458px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.form_button {
  margin-top: 15px;
}

.form_button a {
  padding: 14px 22px 15px 22px;
  background: #51abd3;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  color: white;
}

.form_button a:hover {
  background: #518bd3;
}

.header_fixed_nav a {
  color: #131313;
}

.header_button_fixed a {
  color: #131313;
}

.header {
  padding-top: calc( 13px + 6 * ((100vw - 320px) / 2240));
  padding-bottom: calc( 14px + 6 * ((100vw - 320px) / 2240));
  width: 100%;
  background: #131313;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}

.header_link {
  color: #CCD351;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 2240));
}

.header_link_block .header_link:first-child {
  margin-right: 9px;
  padding-right: 10px;
  border-right: 1px solid grey;
}

.header_link_block::before {
  content: url("../img/phone.svg");
  position: absolute;
  left: -30px;
}

.header_link_mail {
  margin-left: 330px;
}

.header_link_mail::before {
  content: url("../img/mail.svg");
  position: absolute;
  left: -30px;
  top: 2px;
}

.header_link_mail,
.header_link_block {
  position: relative;
}

.header_main {
  height: calc( 400px + 970 * ((100vw - 320px) / 2240));
  width: 100%;
  background-size: cover;
  background-image: url(../img/main_bg_small.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.header_header {
  padding-top: 20px;
}

.header_nav ul li {
  margin-left: 44px;
}

.header_nav ul li:first-child {
  margin: 0;
}

.header_nav ul li a {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  text-transform: uppercase;
  padding: 7px 0 6px 0;
  border: 1px solid transparent;
}

.header_nav ul li a:hover {
  color: #CCD351;
  border-top: 1px dashed #ccd351;
  border-bottom: 1px dashed #ccd351;
}

.header_nav_first_color a {
  color: white;
}

.header_button a {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  font-weight: 500;
  background: #51abd3;
  padding: 14px 25px 15px 19px;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}

.header_button a:hover {
  background: #518bd3;
}

.header_button_color a {
  color: white;
}

.header_text {
  text-align: center;
  padding-top: calc( 70px + 87 * ((100vw - 320px) / 2240));
}

.header_text_block {
  max-width: 912px;
  width: 100%;
  margin: 0 auto;
}

.header_text_overhead {
  color: #ccd351;
  font-weight: 700;
  margin-bottom: -15px;
  font-size: calc( 18px + 18 * ((100vw - 320px) / 2240));
}

.header_text_descrition {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 15px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: calc( 25px + 7 * ((100vw - 320px) / 2240));
  font-size: calc( 18px + 18 * ((100vw - 320px) / 2240));
}

.header_text_title {
  color: #ffffff;
}

.header_text_link {
  font-size: calc( 12px + 6 * ((100vw - 320px) / 2240));
  color: #ffffff;
  font-weight: 700;
  padding: 11px 45px 12px 53px;
  border: 3px solid #51abd3;
  -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
  border-radius: 1px;
}

.header_text_link:hover {
  background: #51ABD3;
}

.header_button_text {
  margin-top: 50px;
  display: none;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  width: 100%;
  height: 208px;
  background: #51abd3;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  top: 353px;
}

.main h2 {
  text-align: center;
  margin-bottom: calc( 50px + 50 * ((100vw - 320px) / 2240));
}

.main_futures {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.futures_block {
  max-width: 398px;
  text-align: center;
}

.futures_block h3:first-child {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.futures_block h3 span {
  color: #d39951;
}

.futures_block img {
  margin-bottom: calc( 20px + 19 * ((100vw - 320px) / 2240));
  margin-top: calc( 33px + 19 * ((100vw - 320px) / 2240));
}

.main_numbers {
  margin-bottom: calc( 100px + 110 * ((100vw - 320px) / 2240));
  margin-top: calc( 120px + 120 * ((100vw - 320px) / 2240));
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.numbers_block {
  max-width: 277px;
  text-align: center;
}

.numbers_title {
  font-size: 96px;
  font-weight: 700;
  color: #51abd3;
}

.numbers_title_count,
.numbers_title_ton,
.numbers_title_years {
  display: inline-block;
}

.numbers_percent {
  display: inline-block;
  font-size: 96px;
  font-weight: 700;
  color: #51abd3;
}

.numbers_ton,
.numbers_years {
  display: inline-block;
  width: 10px;
  white-space: pre-line;
  /* не нужен <br> */
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  opacity: 0.76;
}

.numbers_ton {
  line-height: 19px;
}

.numbers_years {
  font-size: 28px;
  line-height: 23.5px;
}

.numbers_description {
  color: #000000;
  font-size: 28px;
  max-width: 192px;
  margin: 0 auto;
}

.materials_main h2 {
  margin-bottom: calc( 50px + 50 * ((100vw - 320px) / 2240));
}

.materials_row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 100px;
}

.materials_row_last {
  margin: 0;
}

.materials_block {
  margin-right: 100px;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.materials_block:last-child {
  margin: 0;
}

.materials_block img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.materials_block h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.materials_block h4 {
  font-size: 28px;
  font-weight: 700;
}

.materials_block .materials_block_span {
  font-weight: 400;
}

.materials_block_last {
  position: relative;
}

.materials_block_last::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 217px;
  max-height: 200px;
  left: 150px;
  top: 130px;
  background: #d39951;
}

.main_specialist {
  background-image: url(../img/specialist_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: calc( 125px + 55 * ((100vw - 320px) / 2240));
  margin-top: calc( 106px + 121 * ((100vw - 320px) / 2240));
}

.specialist_content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 92px 0 83px 0;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specialist_block_first {
  width: 100%;
  max-width: 515px;
  margin-left: calc( 10px + 207 * ((100vw - 320px) / 2240));
}

.specialist_block_last {
  width: 100%;
  max-width: 309px;
  margin-right: calc( 10px + 98 * ((100vw - 320px) / 2240));
}

.specialist_left_title {
  color: #ffffff;
  font-size: 68px;
  font-weight: 700;
}

.header_button_specialist {
  margin-top: 64px;
}

.header_button_specialist a {
  font-size: calc( 16px + 2 * ((100vw - 320px) / 2240));
  color: white;
  font-weight: 500;
  background: #51abd3;
  padding: 22px 34px;
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}

.header_button_specialist a:hover {
  background: #518bd3;
}

.specialist_right_title {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-top: 5px;
}

.specialist_description {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  margin-top: 17px;
}

.specialist_button {
  margin-top: 57px;
}

.specialist_button a {
  color: white;
  font-weight: 700;
  padding: 21px 51px 21px 59px;
  border: 3px solid #131313;
  -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
  border-radius: 1px;
}

.specialist_button a:hover {
  background: #131313;
}

.about_content {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 240px;
}

.about_block img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.about_block_last {
  width: 100%;
  max-width: 594px;
  margin-top: 130px;
  margin-left: 107px;
}

.about_title {
  font-size: calc( 34px + 34 * ((100vw - 320px) / 2240));
  font-weight: 700;
  margin-bottom: calc( 40px + 56 * ((100vw - 320px) / 2240));
  position: relative;
}

.about_title::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 4px;
  background-color: #51abd3;
  top: calc( 60px + 60 * ((100vw - 320px) / 2240));
}

.about_description {
  font-size: calc( 12px + 12 * ((100vw - 320px) / 2240));
  line-height: 156.9%;
  position: relative;
}

.about_arrow {
  display: inline-block;
  margin-top: calc( 25px + 13 * ((100vw - 320px) / 2240));
}

.about_content_page {
  margin-top: calc( 50px + 130 * ((100vw - 320px) / 2240));
}

.about_title_page {
  margin-bottom: calc( 20px + 22 * ((100vw - 320px) / 2240));
}

.about_title_page::before {
  display: none;
}

.about_subtitle {
  font-weight: 500;
  font-size: calc( 18px + 18 * ((100vw - 320px) / 2240));
  color: black;
  margin-bottom: calc( 40px + 48 * ((100vw - 320px) / 2240));
  position: relative;
}

.about_subtitle::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 3px;
  top: calc( 60px + 60 * ((100vw - 320px) / 2240));
  background: #51abd3;
}

.materials_title {
  margin-top: calc( 50px + 130 * ((100vw - 320px) / 2240));
  margin-bottom: calc( 60px + 70 * ((100vw - 320px) / 2240));
  position: relative;
}

.materials_title::before {
  content: '';
  position: absolute;
  width: 172px;
  height: 3px;
  bottom: calc( -10px + -20 * ((100vw - 320px) / 2240));
  background: #51ABD3;
}

.about_block_contacts {
  margin-top: 60px;
}

.about_subtitle_contacts {
  font-weight: 500;
  font-size: calc( 18px + 18 * ((100vw - 320px) / 2240));
  color: black;
  margin-bottom: calc( 40px + 48 * ((100vw - 320px) / 2240));
  position: relative;
}

.about_subtitle_contacts::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 3px;
  top: calc( 70px + 80 * ((100vw - 320px) / 2240));
  background: #51abd3;
}

.contacts_block_page a {
  display: block;
  font-size: calc( 22px + 14 * ((100vw - 320px) / 2240));
  color: #000000;
  opacity: 0.8;
  margin-bottom: calc( 20px + 10 * ((100vw - 320px) / 2240));
}

.contacts_block_page a:first-child {
  position: relative;
}

.contacts_block_page a:first-child::before {
  content: url(../img/geo.svg);
  position: absolute;
  left: -30px;
}

.contacts_block_page a:nth-child(2) {
  position: relative;
}

.contacts_block_page a:nth-child(2)::before {
  content: url(../img/mail_contacts.svg);
  position: absolute;
  left: -30px;
}

.contacts_block_page a:nth-child(3) {
  position: relative;
}

.contacts_block_page a:nth-child(3)::before {
  content: url(../img/tel_contacts.svg);
  position: absolute;
  left: -30px;
}

.contacts_block_page a:last-child {
  margin: 0;
  position: relative;
}

.contacts_block_page a:last-child::before {
  content: url(../img/tel_contacts.svg);
  position: absolute;
  left: -30px;
}

.contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc( 80px + 50 * ((100vw - 320px) / 2240));
  margin-top: calc( 50px + 29 * ((100vw - 320px) / 2240));
}

.contacts_score {
  font-size: calc( 22px + 14 * ((100vw - 320px) / 2240));
  color: #000000;
  opacity: 0.8;
}

.contacts_score div:first-child {
  margin-bottom: calc( 10px + 10 * ((100vw - 320px) / 2240));
}

.gallery_title {
  margin-top: calc( 100px + 50 * ((100vw - 320px) / 2240));
  margin-bottom: calc( 50px + 50 * ((100vw - 320px) / 2240));
}

.gallery_subtitle {
  margin-top: calc( 40px + 30 * ((100vw - 320px) / 2240));
  margin-bottom: calc( 50px + 50 * ((100vw - 320px) / 2240));
}

.gallery_document {
  margin-bottom: calc( 150px + 80 * ((100vw - 320px) / 2240));
}

.gallery_document a:first-child {
  margin-right: 100px;
}

.gallery_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.gallery_content::before {
  content: '';
  position: absolute;
  width: 676px;
  height: 496px;
  background: #D39951;
  z-index: -1;
  top: 300px;
  left: 300px;
}

.gallery_content::after {
  content: '';
  position: absolute;
  background: #D39951;
  z-index: -1;
  width: 207px;
  height: 207px;
  right: -30px;
  bottom: -30px;
}

.gallery_block {
  margin-right: 30px;
}

.gallery_block img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
}

.gallery_block:last-child {
  margin: 0;
}

.gallery_block_img {
  margin-top: 30px;
}

.swiper-container {
  display: none;
}

.gallery_video {
  display: none;
}

.footer {
  position: relative;
  width: 100%;
  background: -o-linear-gradient(359.23deg, #d39951 15%, black 40%);
  background: linear-gradient(90.77deg, #d39951 15%, black 40%);
  -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  padding-bottom: calc( 30px + 20 * ((100vw - 320px) / 2240));
  padding-top: calc( 90px + -40 * ((100vw - 320px) / 2240));
}

.footer_content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer_block {
  color: white;
}

.name_company {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer_admin {
  font-size: calc( 18px + 6 * ((100vw - 320px) / 2240));
  font-weight: 400;
}

.footer_admin_inn {
  margin-bottom: 10px;
}

.footer_rights {
  font-size: calc( 14px + 4 * ((100vw - 320px) / 2240));
  margin-top: 73px;
}

.footer_block_last {
  padding-left: calc( 0px + 180 * ((100vw - 320px) / 2240));
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_map {
  position: relative;
}

.footer_map::before {
  content: "";
  position: absolute;
  background: #d39951;
  width: 207px;
  height: 207px;
  right: -20px;
  top: -20px;
}

iframe {
  width: 420px;
  height: 470px;
}

.footer_contacts {
  margin-left: 50px;
  max-width: 398px;
}

.footer_contacts_title {
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.footer_contacts_description {
  margin-top: calc( 15px + 15 * ((100vw - 320px) / 2240));
  margin-bottom: 20px;
}

.footer_contacts_description a {
  color: #ffffff;
  opacity: 0.8;
  font-size: calc( 18px + 6 * ((100vw - 320px) / 2240));
  line-height: 33px;
}

.contacts_link {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 60px;
}

.contacts_link a {
  display: block;
  font-size: calc( 18px + 6 * ((100vw - 320px) / 2240));
  color: #ccd351;
}

.contacts_link a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts_tel {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contacts_mail {
  margin-top: 15px;
}

.contacts_politice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts_politice div a {
  color: #ccd351;
  opacity: 0.8;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 2240));
}

.contacts_politice div:first-child {
  padding-right: 20px;
  position: relative;
  border-right: 1px solid gray;
}

.contacts_politice div:last-child {
  padding-left: 20px;
}

.footer_desight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc( 20px + 298 * ((100vw - 320px) / 2240));
}

.about_subtitle_item::before {
  top: calc( 50px + 30 * ((100vw - 320px) / 2240));
}

.about_item {
  margin-bottom: calc( 20px + 130 * ((100vw - 320px) / 2240));
}

.item_text {
  font-size: calc( 12px + 12 * ((100vw - 320px) / 2240));
  line-height: 194.9%;
}

@media (max-width: 1800px) {
  .materials_block_last::before {
    left: 40px;
    top: 30px;
  }
}

@media (max-width: 1500px) {
  .footer_desight {
    display: none;
  }
}

@media (max-width: 1350px) {
  .main_futures {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1025px) {
  .container {
    padding: 0 40px;
  }

  .materials_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  .materials_block {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .materials_block:last-child {
    margin-bottom: 30px;
  }

  .materials_block_last {
    margin-bottom: 0;
  }

  .specialist_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .specialist_block_first,
  .specialist_block_last {
    margin: 0;
  }

  .specialist_block_first {
    margin-bottom: 50px;
  }

  .about_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }

  .about_block_last {
    margin: 0;
    margin-top: 52px;
  }

  .materials_block_last::before {
    left: 150px;
    top: 130px;
  }

  .footer {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #d39951), color-stop(30%, black));
    background: -o-linear-gradient(bottom, #d39951 1%, black 30%);
    background: linear-gradient(360deg, #d39951 1%, black 30%);
  }

  .footer_content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer_block_first {
    text-align: center;
    margin-top: 20px;
  }

  .footer_rights {
    margin-top: 30px;
    padding-bottom: 70px;
  }

  .footer_block_last {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .footer_contacts {
    margin: 0;
  }

  .footer_map {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 370px;
  }

  .footer_contacts_title {
    margin-top: 16px;
  }

  .footer_contacts_description {
    margin-bottom: 15px;
  }

  .contacts_politice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts_link {
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts_tel {
    margin-top: 0;
  }

  .contacts_block img {
    width: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about_item {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .arrow_top_button {
    right: 0;
  }

  .arrow_top_img_mob {
    display: block;
    width: 54px;
    height: 60px;
  }

  .arrow_top_img {
    display: none;
  }

  .form_content {
    padding: 30px;
  }

  .form_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form_textearea {
    margin: 0;
    margin-top: 30px;
    height: 150px;
  }

  .form_close {
    top: 40px;
    right: 20px;
  }

  .form_button {
    margin-top: 40px;
  }

  .header_burger {
    display: block;
  }

  .header_nav {
    position: fixed;
    overflow: auto;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #212121;
    z-index: 20;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header_nav ul {
    display: block;
    margin-top: 114px;
  }

  .header_nav ul li {
    margin: 0;
    margin-bottom: 30px;
  }

  .header_nav ul li:first-child {
    margin-bottom: 30px;
  }

  .header_nav ul li a {
    font-size: 18px;
    font-weight: 700;
    color: white;
  }

  .header_nav ul:last-child {
    display: block;
    margin-top: 100px;
  }

  .header_nav ul:last-child li {
    margin-bottom: 15px;
  }

  .header_nav ul:last-child .header_nav_second_link {
    font-size: 14px;
    color: #ccd351;
  }

  .header_nav ul:last-child .header_nav_second_price {
    margin-top: 40px;
    margin-bottom: 53px;
  }

  .header_nav ul:last-child .header_nav_second_price a {
    color: white;
    font-size: 12px;
    padding: 16px 43px 15px 43px;
    border: 1.5px dashed #51abd3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Object */
    -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
  }

  .header_nav ul:last-child .header_nav_second_button a {
    font-size: 12px;
    background: #51abd3;
    /* Object */
    color: white;
    -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 17px 23px 16px 23px;
  }

  .header_nav.active {
    right: 0;
  }

  .header_burger.active span {
    display: none;
  }

  .header_burger.active::before {
    top: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-radius: 3px;
  }

  .header_burger.active::after {
    width: 24px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 20px;
    border-radius: 3px;
  }

  .header {
    display: none;
  }

  .header_main {
    height: 810px;
  }

  .header_text_overhead {
    margin-bottom: 5px;
  }

  .header_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header_button {
    display: none;
  }

  .header_button_text {
    display: block;
  }

  .header_button_text a {
    font-size: 12px;
    color: white;
    font-weight: 500;
    background: #51abd3;
    padding: 14px 31px 15px 31px;
    -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .header_button_text a:hover {
    background: #518bd3;
  }

  .header_text_link {
    font-size: 12px;
  }

  .main::before {
    display: none;
  }

  .futures_block {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .futures_block:first-child {
    margin-top: 0;
  }

  .futures_block:last-child {
    margin-bottom: 0;
  }

  .main_specialist {
    background-image: url(../img/specialist_bg_mob.png);
  }

  .materials_block {
    margin-bottom: 100px;
  }

  .materials_block:last-child {
    margin-bottom: 100px;
  }

  .materials_row_last .materials_block_last {
    margin-bottom: 0;
  }

  .materials_row_last .materials_block_last::before {
    left: 120px;
    top: 100px;
  }

  .specialist_content {
    padding-top: 130px;
    padding-bottom: 60px;
  }

  .specialist_left_title {
    font-size: 36px;
  }

  .header_button_specialist {
    margin-top: 30px;
  }

  .header_button_specialist a {
    font-size: 12px;
    padding: 11px 23px 13px 23px;
  }

  .specialist_block_last {
    margin-top: 120px;
  }

  .specialist_right_title {
    font-size: 36px;
  }

  .specialist_description {
    font-size: 18px;
  }

  .specialist_button {
    margin-top: 40px;
  }

  .specialist_button a {
    font-size: 12px;
    padding: 12px 42px;
  }

  .numbers_block {
    margin-bottom: 100px;
  }

  .numbers_block:last-child {
    margin-bottom: 0;
  }

  .contacts_block_page a {
    padding-left: 30px;
  }

  .contacts_block_page a:first-child::before {
    content: url(../img/geo.svg);
    position: absolute;
    left: -5px;
  }

  .contacts_block_page a:nth-child(2)::before {
    content: url(../img/mail_contacts.svg);
    position: absolute;
    left: -5px;
  }

  .contacts_block_page a:nth-child(3)::before {
    content: url(../img/tel_contacts.svg);
    position: absolute;
    left: -5px;
  }

  .contacts_block_page a:last-child::before {
    content: url(../img/tel_contacts.svg);
    position: absolute;
    left: -5px;
  }

  .gallery_document a:first-child {
    margin-right: 0;
  }

  .gallery_document a:last-child img {
    margin-top: 70px;
  }

  .gallery_content {
    display: none;
  }

  .gallery_block {
    margin: 0;
  }

  .gallery_block_img {
    margin: 0;
  }

  .swiper-container {
    display: block;
    margin-bottom: 70px;
    -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #CCD351;
  }

  .gallery_video {
    display: block;
    -webkit-filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(1px 4px 8px rgba(0, 0, 0, 0.25));
  }

  .footer_desight {
    display: block;
    width: 162px;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 376px) {
  .container {
    padding: 0 20px;
  }

  .materials_block_last::before {
    display: none;
  }
}

.webp .header_main{ background-image: url(../img/main_bg_small.webp); }

.webp .main_specialist{ background-image: url(../img/specialist_bg.webp); }

@media (max-width: 768px){

  .webp .main_specialist{ background-image: url(../img/specialist_bg_mob.webp); }
}